.verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.ContactAstronautImage {
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
}

.purpleButton {
    background-color: #6a0dad;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.purpleButton:hover {
    background-color: #5a0c9d;
}

.purpleButton:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(106, 13, 173, 0.5);
}

.hiddenLink {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-decoration: none;
    list-style-type: none;
    transition: color 0.3s ease;
}
