.project-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .project-item {
    display: flex; 
    justify-content: space-between; 
    background: #1f1f1f;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .project-title {
    font-size: 1.8rem;
    color: #ffffff;
    margin-bottom: 0.5rem;
  }
  
  .project-description {
    font-size: 1rem;
    color: #d1d5db;
    margin-bottom: 1rem;
  }
  
  .project-sublist {
    list-style: disc;
    margin-left: 1.5rem;
  }
  
  .project-sublist li {
    margin-bottom: 0.5rem;
  }

  .project-image img {
    width: 250px;
    height: auto;
    object-fit: cover;
  }

  .project-image-rounded img {
    width: 250px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
  }

  .responsive-project-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover;
  }

  .project-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }

  .project-links a {
    text-align: center;
    display: block;
  }

  .tech-icon {
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
    object-fit: contain;
    aspect-ratio: auto 1 / 1;
  }

  .emote_img{
    width: 30px;
  }

  @media (max-width: 768px) {
    .project-item {
      flex-direction: column;
      align-items: center;
    }
  
    .project-image img {
      width: 100%;
      max-width: 200px;
      margin-bottom: 1rem;
    }
  
    .responsive-project-image {
      max-width: 100%;
    }

    .project-links {
      flex-direction: column;
      gap: 0.5rem;
    }
  
    .tech-icon {
      height: auto;
      width: 40px;
      margin: 0.25rem;
      
    }
  
    .card-body img {
      max-width: 300px;
      object-fit: cover;
    }
  
    .github-profile-picture {
      width: 100%;
      max-width: 150px;
      object-fit: cover;
    }

    .d-flex.justify-content-center {
      flex-direction: column;
      align-items: center;
    }

    .btn {
      width: 100%;
      margin-bottom: 0.5rem;
    }
  }
